@{
    ViewBag.Title = "Home Page";
}

    <div class="hero jumbotron jumbotron-fluid">
        <div class="container">
            <h1>Rajen Shrestha</h1>
            <p class="lead">Application Developer with 11 years experience in C# .NET and Java development</p>
            <p class="lead">Skilled with backend and front-end development in <strong>WPF</strong>, <strong>ASP.Net</strong>, <strong>MVC</strong>, <strong>WinForms</strong>,<strong>T-SQL</strong> and Web-Services (<strong>WCF</strong> and <strong>ASMX</strong>), including third party API integration </p>
            <p class="lead"></p>
        </div>
    </div>

    <div class="row">
        <div class="container">
            <h2>Employment History</h2>
        </div>
        <div class="col-md-3 employment-history">
            <img src="~/Content/Images/superconcepts.png" alt="superconepts logo" class="img-compay-logo" data-image="superconcepts" />
            <h3>SuperConcepts</h3>
            <p>
                Working in a small team of five, we were responsible for the enhancement and maintenance of Superconcepts Desktop Super product, a complex accounting platform specailising in Self-Managed Superannuation Funds.  Desktop Super is written in C# and SQL back end.  I also was responsible for licensing webservice implementation and internal billing tools
            </p>
            <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-3 employment-history">
            <img src="~/Content/Images/Reckon.png" alt="reckon logo" class="img-compay-logo" data-image="reckon" />
            <h3>Reckon</h3>
            <p>Worked in a small team of three, we were responsible for the enhancement and maintenance of Reckon Desktop Super product, Self-Managed Superannuation Funds. I also was responsible for maintaining licensing webservice. </p>
            <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-3 employment-history">
            <img src="~/Content/Images/Recoh.png" alt="recoh logo" class="img-compay-logo" data-image="recoh" />
            <h3>Recoh Australia</h3>
            <p>Worked in a small team of three, I was responsible for the maintenance and enhancement of ESA Transformer v2.0 and ESA Transformer v3.0, an OCRing application that converts paper document into editable electronic files</p>
            <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-3 employment-history">
            <img src="~/Content/Images/Itaba3.png" alt="itaba3 logo" class="img-compay-logo" data-image="itaba3" />
            <h3>Itaba3</h3>
            <p>Worked in a small team of two, I was resposible for fixing bug and adding new features in My Business Manager (MBM)</p>
            <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
        </div>
    </div>